@model BrandexSalesAdapter.ExcelLogic.Models.Sales.SaleOutputModel
@{ ViewData["Title"] = "Details"; }
<h1>Uploaded Sale</h1>
<div>
    <hr />
    <h2>Details</h2>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PharmacyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PharmacyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Count)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Count)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DistributorName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DistributorName)
        </dd>
    </dl>
    <div>
        <a asp-action="Index">Index</a>
    </div>
</div>