@model SpravkiFirstDraft.Models.Pharmnet.PharmnetOutputModel
<h1>Pharmnet @Model.Date</h1>
@if (Model.Errors.Count > 0)
{
    <h2>The following errors occurred:</h2>
    <ul>

        @foreach (var error in Model.Errors)
        {
            <li>Error: In line @error.Key with value @error.Value</li>
        }

    </ul>
}
@Html.Raw(@Model.Table)